<nav-Bar-Directive></nav-Bar-Directive>
<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Current Events
                <small></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item" ng-repeat="event in existingEvents">
            <div class="eventListed" ng-click="takeEventDetails(event.links[0].href)">
                <a href="">
                    <img class="img-responsive" src="../components/images/event.jpg" alt="">
                </a>
            </div>
            <h3>
                <a href="" ng-click="takeEventDetails(event.links[0].href)">{{event.eventName}}</a>
            </h3>
            <p>{{event.description | limitText}} <a ng-click="takeEventDetails(event.links[0].href)">[read More]</a></p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <pagination-Directive></pagination-Directive>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer-Directive></footer-Directive>

</div>